In [1]:
squares = [4, 9, 16, 25]
for n in squares:
    print(n,end=" ")

4 9 16 25

In [2]:
squares= [4, 9, 16, 25]
new_sqr= [36, 49, 56]
for i in new_sqr:
    squares.append(i)
    
print(squares)

[4, 9, 16, 25, 36, 49, 56]

In [3]:
sqr = [49, 64, 100]
for i in range (11, 14):
    sqr.extend([i*i])
    
print(sqr)

[49, 64, 100, 121, 144, 169]

In [4]:
sqr2 = [49, 64, 100]
sqr2.extend([121, 144, 169])
print(sqr2)

[49, 64, 100, 121, 144, 169]

In [5]:
squares= [4, 9, 16, 25]
squares[:0]= [1,2]
print(squares)

[1, 2, 4, 9, 16, 25]

In [6]:
my_square= [16, 25, 36, 49, 64, 81]
my_square.remove(49)
print(my_square)

[16, 25, 36, 64, 81]

In [7]:
my_square.remove(3)

ValueError: list.remove(x): x not in list

In [8]:
my_list= [1, 2, 3, 1, 2]
my_list.remove(2)
print(my_list)

[1, 3, 1, 2]

In [9]:
my_list.pop()
print(my_list)

[1, 3, 1]

In [10]:
prime= [2, 3, 5, 7, 11]
prime.pop(0)    # first index
print(prime)

[3, 5, 7, 11]

In [11]:
names= ["Eric", "anna", "Sophie", "sam"]
new_names= [i.capitalize() for i in names]
new_names.sort()
print(new_names)

['Anna', 'Eric', 'Sam', 'Sophie']

In [12]:
squares = [4, 9, 16, 25]
squares.reverse()
print(squares)

[25, 16, 9, 4]

In [13]:
colours= ["red", "green", "yellow", "blue", "red"]
colours.index("blue")

3

In [14]:
fruit= ["mango", "apple", "pineapple"]
new_fruit= fruit.copy()
fruit.append("banana")
print(new_fruit)

['mango', 'apple', 'pineapple']

In [15]:
cubes = [x*x*x for x in range(2,21)]
print(cubes)

[8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [16]:
all_users= ["rabi", "theweekend", "thapa", "paradox", "hyitsmerabi"]

''' for inclusion in some_user the string must be of length smaller than 8 '''

some_users = [u for u in all_users if len(u)< 8]
print(some_users)

['rabi', 'thapa', 'paradox']

Tuples

In [17]:
address= (120, "shree nagar", 33000)
type(address)

tuple

In [18]:
the_one= "Neo",
type(the_one)

tuple

In [19]:
address= (120, "Baglung", 33000)
house_num, street, postcode= address

print(house_num)
print(street)
print(postcode)

120
Baglung
33000

In [20]:
def prin(*tup):
    for i in tup:
        print(i)
        
prin(*address)

120
Baglung
33000